.sendMessageForm {
  padding: 0.25rem;
  height: 8%;
  border-top: 1px solid var(--blue);

  & input {
    height: 30px;
    font-size: 0.8rem;
  }

  & button {
    height: 30px;
    font-size: 0.8rem;
  }
}

.dark.sendMessageForm {
  background-color: var(--backgroundColor);
  color: var(--white);
}

.light.sendMessageForm {
  background-color: var(--grey);
}
